.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-lateral {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-lateral {
    background-image: url("../img/menuAberto.svg");
    
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-gradient);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top:100%;
    width: 50vw;
    
}

.container__botao:checked~.lista-menu {
    display: block;   

}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}
.opcoes {
    display: none;
}

.container__imagem-texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho__menu-lateral{
        display: none;
    }

    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        display: block;
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-mobile {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }
    
    .opcoes__botao {
        display: none;
    }

    /*.lista-menu__item:hover {
        background: var(--azul-gradient);
        color: var(--branco);
        
    }*/

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-gradient);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .opcoes__item:hover>.opcoes__link {
        background: var(--azul-gradient);
        padding: 2em 1em;
        color: var(--branco);
    
    }

    .lista-menu__item:hover {
        background: var(--azul-gradient);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .container__imagem-texto:hover {
        color: var(--laranja);
    }
     
    .lista-rodape__item:hover>.lista-rodape__link {
        color: var(--laranja);
    }

}

@media screen and (min-width: 1728px) {

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-texto {
        font-size: 20px;
    }    

    .cabecalho {
        padding: 0 2em;
    }
    
    .container__imagem-texto {
        display: block;
    }

    .opcoes {
        margin-right: auto;
        
    }
}

